<h1>Hi, I See you want to join this activity, do you have a password?</h1>
<%= form_tag '/activitylogin' do %>
  Password: <%= password_field_tag :password %>
  <%= hidden_field_tag :id, @activity.id %>
  <%= submit_tag "Submit" %>
  <% end %>
