<div class="background-homepage">
  <img class="biglogo" alt="Brand" src="<%= asset_path("alyopwblong.png")%>">

<div class="overlay">
  <a href="/signup" class="btn btn-default main-button">START</a>
</div>
</div>

</div>
