// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.activity {
  border: solid black;
}



.modal-content {
  overflow-x: auto;
}


.table>tbody>tr>td, {
  vertical-align: middle;
}



.checkbox input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.checkbox input[type='checkbox']:checked {
    background: #c4ddaa;
}
