// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.activity {
  border: solid black;
}

.comments {
  margin-top: 100px;
  margin-left: 100px;
}

.comment {
  display: flex;
  padding-top: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.comment p {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;

}

.modal-content {
  overflow-x: auto;
}


.table>tbody>tr>td, {
  vertical-align: middle;
}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
    background: #c4ddaa;
}
