$size: 200px;
$mobilesize: 80px;
$cyan: #19b7a8;
$red: #E01A4F;
$black: #343837;
$blue: #114B5F;



.hidecharts {
  @media (max-width: 1100px){
    display: none;
  }
}

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
  @media(max-width:684px){
    left: calc(50% - #{$mobilesize/2});
    top: calc(50% - #{$mobilesize/2});
    width: $mobilesize;
    height: $mobilesize;
  }
}


.progress-pie-chart {
  width: $size;
  height: $size;
  @media(max-width:684px){
    width: $mobilesize;
    height: $mobilesize;
  }
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
    display: inline-block;
  &.gt-50 {
    background-color: #81CE97;
  }



}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  @media(max-width:684px){
    @include circle($mobilesize);
    clip: rect(0, $mobilesize, $mobilesize, #{$mobilesize/2});
  }
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    @media(max-width:684px){
      @include circle($mobilesize);
      clip: rect(0, #{$mobilesize/2}, $mobilesize, 0);
    }
    background: #81CE97;
    transform: rotate(60deg);

  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    @media(max-width:684px){
      clip: rect(0, #{$mobilesize/2}, $mobilesize, 0);
    }
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      @media(max-width:684px){
        clip: rect(0, $mobilesize, $mobilesize, #{$mobilesize/2});
      }
      background: #E5E5E5;
    }
  }
}

.ppc-percents {
  @include circle(#{$size/1.15});
  @media(max-width:684px){
    @include circle(#{$mobilesize/1.15});
  }
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}




.progress-pie-chart {
  margin: 0 auto ;
}
