// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentcontainer {
  max-width: 100%;
  margin: 40px 0;
}
.comments {

}

.comment {
  display: flex;
  padding-top: 20px;
}

.commentform {
  margin-bottom: 0;
  margin-top: 15px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
}

.comment p {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;

}

.commentbuttons {
  float: right;
}

#deletecomment button {

    background: transparent;
    border: 0;
}


.glyphicon-trash {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 0.7;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel-heading {
    text-align: -webkit-left;
}

.commentusername {
  font-size: 20px;
}

.Objection {
  background-color: rgba(208, 155, 155, 0.78) !important;
}
.Supportive {
  background-color: rgba(175, 208, 155, 0.78) !important;
}

.Counter  {
  background-color: rgba(155, 176, 208, 0.78) !important;
}

.rightpanelheader {
  display: inline-block;
}




.thumbnail {
  border: none;
margin-top: 10px;
}


.panel.commentpanel {
	position:relative;
  margin-top: 15px;
}
.panel.commentpanel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel.commentpanel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel.commentpanel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}


.commentsection {
  padding: 0;
}
